<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Contenu</th>
            <th scope="col">Date</th>
            <th scope="col">Chapitre</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    {% for cours in AllCours %}
        <tr>
            <td>
                <a href="{{ path('show_cours', {'id': cours.id}) }}">
                {{cours.titre}}
                </a>
            </td>
            <td>{{cours.contenu}}</td>
            <td>{{cours.date|date('d/m/Y')}}</td>
            <td>{{cours.chapitre}}</td>

            {% if is_granted('ROLE_USER') %}

            <td>
                <a href="{{path('delete_cours', {'id': cours.id})}}">Supprimer</a>
            </td>

            {% endif %}

        </tr>
    {% else %} 
        <tr>
            <td colspan="4">Il n'y a pas de cours</td>
        </tr>
    {% endfor %}
    </tbody>
</table>