{% extends 'base.html.twig' %}

{% block body %}
<h1>{{cours.titre}}</h1>
<p>{{cours.contenu}}</p>
<p>{{cours.date|date('d/m/Y')}}</p>
<p>{{cours.chapitre}}</p>

<h2>Modifier le cours</h2>
{{form(maj)}}
{% endblock %}